<!DOCTYPE html>
<html>
  <head>
    <title>Bookface</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="grid-container">
      <div class="header">Bookface</div>
      <div class="menu">
        <ul>

          <% if user_signed_in? %>
          <li><%= link_to 'My Stories', posts_path %></li>
          <li><%= link_to 'User Profile', user_path(current_user) %></li>
          <li><%= link_to 'Find Users', users_path  %></li>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
          <% else %>          
          <li><%= link_to 'Login', new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
      <div class="main">
        <% if notice %>
          <p><%= notice %></p>
        <% else %>
          <p><%= alert %></p>
        <% end %>
          <%= yield %>
      </div>
    </div>
  </body>
</html>
